<% if @absence == NIL %>
  <h3 class="alert alert-danger">Permission Denied: pristupujete ku absenciám iného žiaka.</h3>
<% else %>
<h3 class="center-align">Výpis absencií <b><%= Student.find(params[:stud_id].to_i).name %></b>: </h3>

<table>
  <thead>
  <tr>
    <th>Meno Žiaka</th>
    <th>Dátum absencie</th>
    <th>Dôvod</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @absence.each do |znamky| %>
    <tr>
      <td><%= znamky.fetch('sname') %></td>
      <td><%= znamky.fetch('absencia') %></td>
      <td><%= znamky.fetch('dovod') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
