<% if @grades == NIL %>
  <h3 class="alert alert-danger">Permission Denied: pristupujete ku známkam iného žiaka.</h3>
<% else %>
  <div class="row">
    <div class="col-lg-4 pt-3 pl-5 pr-5 bg-light height-max">
      <h1 class="display-4">
        Výpis známok
        <b><%= Student.find(params[:stud_id].to_i).name %></b>
      </h1>
      <p class="text-muted">Prehľad známok jednotlivých predmetov.</p>
      <hr>
    </div>
    <div class="col-lg-8 pt-3 pr-5 height-max">
      <div style="margin-bottom: 10px; text-align: right">
        <button class="btn btn-success" id="btnExport">Exportovať</button>
      </div>

      <table class="table table-sm" id="tableWrapper">
        <thead class="thead-red">
        <tr>
          <th scope="col">Predmet</th>
          <th scope="col">Známka</th>
          <th scope="col">Získaná</th>
        </tr>
        </thead>
        <tbody>
        <% @grades.each do |znamky| %>
          <tr>
            <th scope="row"><%= znamky.fetch('predmet') %></th>
            <td><%= znamky.fetch('znamka') %></td>
            <td><%= znamky.fetch('datum') %></td>
          </tr>
        <% end %>
        <tr>
          <th scope="row">Matematika</th>
          <td>2</td>
          <td>Včera</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">


<% end %>
  </div>

