<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="color-red display-3">Vitajte v akademickom systéme.</h3>
    <p class="lead">Tento systém je určený na správu študijných informácií o študentoch.</p>
    <hr class="my-4">
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="col-lg-6">

    </div>
  </div>
</div>
<div class="hidden">
  <% @pocet_studentov %> <% @pocet_ucitelov %>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Študenti", "Učitelia"],
            datasets: [{
                label: '# of Votes',
                data: [, ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Počet užívateľov v systéme'
            }
        }
    });
</script>