<h2 class="text-center display-4"></h2>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Upraviť triedu žiakovi <strong><%= params[:stname] %></strong></h1>
  </div>
</div>
<div class="wrapper-center w-50">
  <%= render 'edit_triedy_ziaka', triedy: @triedy %>
</div>