<% if @teacher_classe == NIL %>
  <h3 class="alert alert-danger">Nie sú zadané žiadne absencie.</h3>
<% else %>
  <div class="row">
    <div class="col-lg-4 pt-3 pl-5 pr-5 bg-light height-max">
      <h1 class="display-4">
        Prehľad predmetov učiteľa
      </h1>
      <hr>
      <%= render 'edit_class_teacher', teache_classe: @teacher_classe%>

    </div>
    <div class="col-lg-8 pt-3 pr-5 height-max">
      <div style="margin-bottom: 10px; text-align: right">
        <button class="btn btn-success" id="btnExport">Exportovať</button>
      </div>
      <table class="table table-sm" id="tableWrapper">
        <thead class="thead-red">
        <tr>
          <th scope="col">Predmet</th>
          <th scope="col" colspan="2">Akcie</th>
        </tr>
        </thead>
        <tbody>
        <% @teacher_classe.each do |teachclasse| %>
          <tr>
            <th scope="row"><%= teachclasse.fetch('trname') %></th>
            <% teachclasse.fetch('tcid') %>
            <td><%= link_to 'Vymazať', teachclasse, method: :delete, data: { confirm: 'Ste si istý?' },class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>