/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "bootstrap";

.html, .body {
    height: 100%;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.display-block {
  display: block;
}

.form-group.custom select {

  display: inline-block;
  width: 32%;
  height: 35px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-30 {
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.bg-red {
  color: white;
  background-color: #ee6e73;
}

.short {
  width: 5%;
  border-bottom: 1px solid #666666;
}

.alert-custom {
  position: absolute;
  width: 100%;
  z-index: 99;
  text-align: center;
}

.color-red {
  color: #e94047;
}

.btn-red {
  color: white;
  background-color: #ee6e73;
}

.text-center {
  text-align: center;
}

.wrapper-center {
  margin: 0 auto;
}

.nav-link, .navbar-text {
  color: white !important;
}

.vertical-separator {
  border-left:1px solid #fff;
  height:100%;
  margin: 0 20px;
}

.nav-item {
  transition: 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  border-top: 4px solid #ee6e73;
  border-bottom: 4px solid #ee6e73;
  padding: 0;
}

.nav-item:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 0;
}

.custom-checkbox {
  margin-bottom: 10px;
}

.thead-red {
  color: #fff;
  background-color: #ee6e73;
  border-color: #ee6e73;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.mt-20 {
  margin-top: 25px;
}

.card {
  color: #212529;
  transition: 0.3s;
}

a:hover {
  text-decoration: none !important;
}

.card:hover {
  color: #e94047;
  border: 1px solid #e94047;
  cursor: pointer;
}

.big {
  font-size: 50px;
}

.height-max {
  height: 100vh;
}

.hidden {
  display: none;
}

@media (max-width: 990px) {
  .height-max {
    height: inherit;
  }
}

