/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "bootstrap";

.html, .body {
    height: 100%;
}

.bg-red {
  color: white;
  background-color: #ee6e73;
  height: 60px;
}

.color-red {
  color: #e94047;
}

.btn-red {
  color: white;
  background-color: #ee6e73;
}

.text-center {
  text-align: center;
}

.wrapper-center {
  margin: 0 auto;
}

.nav-link, .navbar-text {
  color: white !important;
}

.vertical-separator {
  border-left:1px solid #fff;
  height:100%;
  margin: 0 20px;
}

.nav-item {
  transition: 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  border-top: 4px solid #ee6e73;
  border-bottom: 4px solid #ee6e73;
  padding: 0;
}

.nav-item:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 0;
}

.custom-checkbox {
  margin-bottom: 10px;
}

.thead-red {
  color: #fff;
  background-color: #ee6e73;
  border-color: #ee6e73;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.card {
  color: #212529;
  transition: 0.3s;
}

a:hover {
  text-decoration: none !important;
}

.card:hover {
  color: #e94047;
  border: 1px solid #e94047;
  cursor: pointer;
}

.big {
  font-size: 50px;
}

.height-max {
  height: 100vh;
}

.hidden {
  display: none;
}

@media (max-width: 990px) {
  .height-max {
    height: inherit;
  }
}